<!DOCTYPE html>
<html>
  <head>
    <title> | My App </title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="four columns">
       <h2>Fantasy Fanatic</h2>
      </div>
      <div id="nav" class="fourteen columns">
        <ul>
          <li><a href="">Home</a></li>
          <li><a id="team-draft-results" href="#">Draft Results by Team</a></li>
          <li><a id="draft-results" href="#">Draft Results for the League</a></li>
        </ul>
      </div>
      <div id="dashboard" class="twelve columns">

      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/script.js"></script>
  </body>
</html>
