<!DOCTYPE html>
<html>
  <head>
    <title> | My App </title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
        <div class="four columns">
         <h2>Fantasy Fanatic</h2>
        </div>
        <div id="nav" class="fourteen columns">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="#">Dashboard 1</a></li>
            <li><a href="#">Dashboard 2</a></li>
          </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
