<!DOCTYPE html>
<html>
  <head>
    <title> Fantasy Fanatic </title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|Bangers' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="twelve columns">
       <h2>Fantasy Fanatic</h2>
       <p>Insert some descriptive text here</p>
      </div>
      <div id="nav" class="fourteen columns">

      </div>
      <div class="row">
        <div class="two columns">
          <ul id="nav-list">
            <!-- <li><a href="">Home</a></li> -->
            <li><a id="draft-results" href="#">Overall Results</a></li>
          </ul>
        </div>
        <div class="ten columns">
          <div id="dashboard" class="content">

          </div>
        </div>

      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" charset="utf-8">></script>
    <script src="js/script.js"></script>
  </body>
</html>
